---
import BaseLayout from "../layouts/BaseLayout.astro";
import Aboutus from "../components/AboutUs.astro";
---
<BaseLayout title="Hacktion">
  <main class="">
    <Aboutus class="mx-auto"/>
  </main>
</BaseLayout>
