<div class="bg-red-500 w-3/5 h-auto">
    <div class="w-1/2 bg-white">
        <h1 class="text-6xl">Acerca de nosotros</h1>
        <p class="text-gray-500 font-normal">Hacktion es un hackathon hecha por la comunidad de Notion Campus Leaders 
        en colaboración con muchas otras comunidades de desarrollo. <br>
        <br>
        Busca crear un espacio donde personas que van adentrando a la informática
        puedan experimentar su primer hackathon aprendiendo de la mano de grandes
        mentores y poniendo a prueba para poder resolver problemas de alto impacto</p>
    </div>

</div>